src/main/resources/schema/LabResultsBaseSchema_V1_01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation> Lab schema version 1.0. This model is Lilly-standardized based on "CDISC Lab Model"</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="GTP">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="TransmissionSource"/>
                <xsd:element ref="Study" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ModelVersion" use="required">
                <xsd:annotation>
                    <xsd:documentation>Expected format is ##-#-##, where # represents a digit. Example: 01-2-07</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="7"/>
                        <xsd:pattern value="\d\d\-\d\-\d\d"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CreationDateTime" type="xsd:dateTime" use="required"/>         
            <xsd:attribute name="LillyModelVersion" use="required">
                <xsd:annotation>
                    <xsd:documentation>This attribute provides version number for Lilly Lab Schema model. Format used for this attribute is ##.## where # represents digit.  e.g. 1.01</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="7"/>
                        <xsd:pattern value="V\d\d\.\d\d"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>            
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Study">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Site" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TransmissionType" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="C"/>
                        <xsd:enumeration value="I"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Site">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Investigator" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Investigator">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Subject" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Subject">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:element ref="ScreenID"/>
                        <xsd:element ref="SubjectID" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element ref="SubjectID"/>
                        <xsd:element ref="ScreenID" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:choice>
                <xsd:element ref="SpareSubjectID" minOccurs="0"/>
                <xsd:element ref="Sex" minOccurs="0"/>
                <xsd:element ref="Race" minOccurs="0"/>
                <xsd:element ref="Confidential" minOccurs="0"/>
                <xsd:element ref="Visit" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Visit">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Accession" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Type" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="U"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TypeModifier">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="17"/>
                        <xsd:enumeration value="T"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="O"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Accession">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="CentralLab"/>
                <xsd:element ref="BaseSpecimen" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LastActiveDateTime" type="xsd:dateTime"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BaseSpecimen">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SpecimenCollection"/>
                <xsd:element ref="SpecimenTransport" minOccurs="0"/>
                <xsd:element ref="SpecimenComment" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="SpecimenMaterial" minOccurs="0"/>
                <xsd:element ref="SubjectAtCollection" minOccurs="0"/>
                <xsd:element ref="BaseBattery" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReconcileVisitGUID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BaseBattery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="BaseTest" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BaseTest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PerformingLab"/>
                <xsd:element ref="LabTest"/>
                <xsd:element ref="ReceiverTest" minOccurs="0"/>
                <xsd:element ref="LOINCTestCode" minOccurs="0"/>
                <xsd:element ref="TestLevelComment" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="BaseResult" minOccurs="0"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="Status" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="13"/>
                        <xsd:enumeration value="D"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="X"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TestingDateTime" type="xsd:dateTime"/>
            <xsd:attribute name="TestType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="22"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="U"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BaseResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ToxicityGrade" minOccurs="0"/>
                <xsd:element ref="SingleResult" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ReportedResultStatus">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="11"/>
                        <xsd:enumeration value="P"/>
                        <xsd:enumeration value="F"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AlertFlag">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                        <xsd:enumeration value="LP"/>
                        <xsd:enumeration value="LT"/>
                        <xsd:enumeration value="LN"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="HN"/>
                        <xsd:enumeration value="HT"/>
                        <xsd:enumeration value="HP"/>
                        <xsd:enumeration value="AB"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="DeltaFlag">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                        <xsd:enumeration value="D+"/>
                        <xsd:enumeration value="D-"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExclusionFlag">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                        <xsd:enumeration value="LX"/>
                        <xsd:enumeration value="HX"/>
                        <xsd:enumeration value="EX"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="BlindingFlag">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="I"/>
                        <xsd:enumeration value="B"/>
                        <xsd:enumeration value="C"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReportedDateTime" type="xsd:dateTime"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransmissionSource">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Sex">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Race">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CentralLab">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecimenCollection">
        <xsd:complexType>
            <xsd:attribute name="ActualCollectionDateTime" type="xsd:dateTime" use="required"/>
            <xsd:attribute name="PlannedCollectionTimeElapsed">
                <xsd:annotation>
                    <xsd:documentation>Expected format is DDD-HH-MM, where DDD represents days [000-999], HH represents hours [00-23] and MM represents minutes [00-69].</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="9"/>
                        <xsd:pattern value="\d\d\d-([01]\d|2[0123])-[012345]\d"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PlannedCollectionTimeElapsedDescription">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CollectionEndDateTime" type="xsd:dateTime"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecimenTransport">
        <xsd:complexType>
            <xsd:attribute name="ReceivedDateTime" type="xsd:dateTime"/>
            <xsd:attribute name="SpecimenCondition">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2048"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecimenComment">
        <xsd:complexType>
            <xsd:attribute name="Source">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                        <xsd:enumeration value="I"/>
                        <xsd:enumeration value="L"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Text" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2048"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecimenMaterial">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubjectAtCollection">
        <xsd:complexType>
            <xsd:attribute name="AgeAtCollection">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:double">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AgeUnits" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="M"/>
                        <xsd:enumeration value="D"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FastingStatus">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="7"/>
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="U"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PerformingLab">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LabTest">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AdditionalDescription">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceiverTest">
        <xsd:complexType>
            <xsd:attribute name="ID" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LOINCTestCode">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TestLevelComment">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2048"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="SingleResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="TextResult" minOccurs="0"/>
                <xsd:element ref="NumericResult" minOccurs="0"/>
                <xsd:element ref="ResultReferenceRange" minOccurs="0"/>
                <xsd:element ref="ResultUnits" minOccurs="0"/>
                <xsd:element ref="TransactionType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="ResultClass" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="C"/>
                        <xsd:enumeration value="S"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ResultType" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                        <xsd:enumeration value="C"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="T"/>
                        <xsd:enumeration value="G"/>
                        <xsd:enumeration value="L"/>
                        <xsd:enumeration value="R"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TextResult">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2048"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NumericResult">
        <xsd:complexType>
            <xsd:attribute name="Value" type="xsd:double" use="required"/>
            <xsd:attribute name="Precision" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResultReferenceRange">
        <xsd:complexType>
            <xsd:attribute name="ReferenceRangeLow">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReferenceRangeHigh">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResultUnits">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToxicityGrade">
        <xsd:complexType>
            <xsd:attribute name="Value" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CodeListID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubjectID">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="ScreenID">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="SpareSubjectID">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Confidential">
        <xsd:complexType>
            <xsd:attribute name="Initials">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Birthdate" type="xsd:date"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionType">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:enumeration value="M"/>
                <xsd:enumeration value="I"/>
                <xsd:enumeration value="R"/>
                <xsd:enumeration value="U"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
</xsd:schema>